header {
	padding: 10px;
	font-size: 2em;
	text-align: center;
}

.contenedorLogin {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
}
.hidden{
	opacity:0;
	width: 0px;
	height: 0px;	
}
.inputError {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.inputSuccess {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}